.products {
  padding: 30px 20px;
  display: flex;

  .left {
    flex: 1;
    height: 100%;

    .filterItem{
      margin-bottom: 30px;

      h2{
        font-weight: 400;
        margin-bottom: 20px;
        font-size: 20px;
      }

      .inputItem{
        margin-bottom: 10px;
        label{
          margin-left: 10px;
        }
      }
      .labelItemAll{
        margin-left: 10px;
      }
    }
  }
  
  .right {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;

    .catImg{
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 50px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .products{
    flex-direction: column;
    .left{
      display: flex;
      justify-content: space-around;
    }
  }
}